.login-container {
  min-height: 100vh;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 400px;
  background: white;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.login-box h2 {
  text-align: center;
  color: #2563eb;
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1e40af;
}

.login-box p {
  text-align: center;
  margin-top: 15px;
}

.login-box a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}