.success-container {
  min-height: 100vh;
  background: #f4f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-box {
  width: 450px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.checkmark {
  width: 90px;
  height: 90px;
  background: #10b981;
  color: white;
  border-radius: 50%;
  margin: auto;
  font-size: 50px;
  line-height: 90px;
}

.success-box h2 {
  color: #10b981;
  margin: 20px 0;
}

.success-box p {
  color: #555;
  margin-bottom: 30px;
  line-height: 25px;
}

.success-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
}

.success-box button:hover {
  background: #1e40af;
}